footer#ccr-footer
  .container
    .copyright
      | © 2018, Copyrights 
      a(href='http://sportzexperts.com/') SportzExperts Solutions Pvt Ltd       
    // /.copyright
    .footer-social-icons
      ul
        li
          a.google-plus(href='https://www.facebook.com/')
            i.fa.fa-google-plus
        li
          a.facebook(href='https://www.facebook.com/')
            i.fa.fa-facebook
        li
          a.twitter(href='https://twitter.com/')
            i.fa.fa-twitter
        li
          a.linkedin(href='https://www.linkedin.com')
            i.fa.fa-linkedin
    // /.cocial-icons
  // /.container
// /#ccr-footer
