aside#ccr-footer-sidebar
  .container
    ul
      li.col-md-3
        h5 About Us
        .about-us
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quod, nostrum, corrupti, maxime quis doloribus debitis id consectetur laudantium iure aperiam soluta consequuntur modi accusamus molestias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quod, nostrum, corrupti, maxime quis doloribus debitis id consectetur laudantium iure aperiam soluta consequuntur modi accusamus molestias Ab veniam atque eius...
        .site-logo
          a(href='index.html')
            img(src='front/img/logo.png', alt='Side Logo')
            h1
              | Daily 
              span News
            h3 The Daily News Source
        // / .navbar-header
      li.col-md-3
        h5 Popular Post
        ul
          li
            img(src='front/img/thumbnail-small-1.jpg', alt='Avatar')
            a(href='#') Lorem Ipsum is a samply dummy text of Popular Post
          li
            img(src='front/img/sports-thumb-4.jpg', alt='Avatar')
            a(href='#') Lorem Ipsum is a samply dummy text of Popular Post
          li
            img(src='front/img/thumbnail-small-3.jpg', alt='Avatar')
            a(href='#') Lorem Ipsum is a samply dummy text of Popular Post
          li
            img(src='front/img/thumbnail-small-5.jpg', alt='Avatar')
            a(href='#') Lorem Ipsum is a samply dummy text of Popular Post
      li.col-md-3
        h5 Recent Post
        ul
          li
            img(src='front/img/thumbnail-small-8.jpg', alt='Avatar')
            a(href='#') Lorem Ipsum is a samply dummy text of Recent Post
          li
            img(src='front/img/sports-thumb-6.jpg', alt='Avatar')
            a(href='#') Lorem Ipsum is a samply dummy text of Recent Post
          li
            img(src='front/img/thumbnail-small-7.jpg', alt='Avatar')
            a(href='#') Lorem Ipsum is a samply dummy text of Recent Post
          li
            img(src='front/img/thumbnail-small-6.jpg', alt='Avatar')
            a(href='#') Lorem Ipsum is a samply dummy text of Recent Post
      li.col-md-3
        h5 Tags
        .tagcloud
          a(href='#') Football
          a(href='#') Games
          a(href='#') World News
          a(href='#') USA
          a(href='#') Salman
          a(href='#') Masrafi
          a(href='#') Afgan
          a(href='#') Obama
          a(href='#') t20
          a(href='#') Business
          a(href='#') Education
          a(href='#') Lorem
          a(href='#') Dhaka
          a(href='#') BBC
          a(href='#') Poland
          a(href='#') Technology
// /#ccr-footer-sidebar
