title
	| #{title}
link(rel='stylesheet', href='/front/css/bootstrap.min.css')
link(rel='stylesheet', href='/front/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='/front/css/font-awesome.min.css')
link(rel='stylesheet', href='/front/css/style.css')
link(rel='stylesheet', href='/front/css/login-model.css')