script(type='text/javascript', src='/front/js/jquery-1.9.1.min.js')
script(type='text/javascript', src='/front/js/bootstrap.min.js')
script(type='text/javascript', src='/front/js/custom.js')
script(type='text/javascript', src='/front/js/login-model.js')