extends layout/base 
block content 
    .container
        section#ccr-main-section
            .container
                section.col-md-12
                    .current-page
                        a(href='/')
                            i.fa.fa-home
                            i.fa.fa-angle-double-right
                            |  Register
                    // / .current-page
                    section#ccr-login-form.col-md-6.col-md-offset-3
                        form#commentform(action='register', method='post')
                            input#author(name='first_name', type='text', placeholder='First Name', value='', required='')
                            input#email(name='last_name', type='text', placeholder='Last Name', value='',required='')
                            input#url(name='email', type='email', placeholder='Email', value='',required='')
                            input#url(name='password', type='password', placeholder='Password', value='',required='')
                            input#submit.pull-right(name='submit', type='submit', value='Register')
                            a.pull-left(href="#")
                                |  Login