extends layout/base 
block content
    section#ccr-nav-below-main
        nav.second-menu
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.ccr-nav-below-main')
                        i.fa.fa-bars
                    // /.navbar-toggle
                // / .navbar-header
                .collapse.navbar-collapse.ccr-nav-below-main
                    ul.nav.navbar-nav
                        li
                            a(href='#') Europe
                        li
                            a(href='#') USA
                        li
                            a(href='#') Middle East
                        li
                            a(href='#') Social and IT
                        li
                            a(href='#') Culture
                    // /.nav /.navbar-nav
                .ccr-language
                    a.pull-right(href='/newTeam', style='color: #fff;background-color: #2cb2bc;padding: 5% 20%;margin:5%') Add Team
                // /.ccr-language
            // /.container
        // /.second-menu
        // / #ccr-nav-below-main
    .container
        br
        .row
           .column
                .card
                    img(src='https://www.w3schools.com/w3images/team1.jpg', alt='Jane', style='width:100%')
                .container
                    h2 Jane Doe
                    p.title CEO & Founder
                    p Some text that describes me lorem ipsum ipsum lorem.
                    p example@example.com
                    p
                        button.button Contact
            .column
                .card
                    img(src='https://www.w3schools.com/w3images/team2.jpg', alt='Mike', style='width:100%')
                .container
                    h2 Mike Ross
                    p.title Art Director
                    p Some text that describes me lorem ipsum ipsum lorem.
                    p example@example.com
                    p
                        button.button Contact
            .column
                .card
                    img(src='https://www.w3schools.com/w3images/team3.jpg', alt='John', style='width:100%')
                .container
                    h2 John Doe
                    p.title Designer
                    p Some text that describes me lorem ipsum ipsum lorem.
                    p example@example.com
                    p
                        button.button Contact
            .column
                .card
                    img(src='https://www.w3schools.com/w3images/team3.jpg', alt='John', style='width:100%')
                .container
                    h2 John Doe
                    p.title Designer
                    p Some text that describes me lorem ipsum ipsum lorem.
                    p example@example.com
                    p
                        button.button Contact
            
