extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Blank Page
			small it all starts here
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Gallery
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/gallaries/add')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								.form-group
									label
										| Item Title
									input(type='text',name='title',placeholder='Enter Item Title', autofocus).form-control
								.form-group
									label
										| Select Media
									input(type='file',name='path').form-control
								.form-group
									label
										| Type
									input(type='text',name='type',placeholder='Enter Type').form-control
								.form-group
									label
										| Event
									input(type='text',name='event_id',placeholder='Enter Event ID').form-control
								.form-group
									label
										| User
									input(type='text',name='user_id',placeholder='Enter User Id').form-control
								
							.box-footer
								button(type='submit').btn.btn-primary
									| Submit
								a(href='/gallaries').btn.btn-primary.pull-right
									| Back